<a href="https://colab.research.google.com/github/lazysimon/NYCDSA_CapstoneProject/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import time

# data science imports
import math
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from urllib.request import urlopen

# utils import
#from fuzzywuzzy import fuzz

# visualization imports
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('ggplot')

%matplotlib inline

In [0]:
def read_the_dat(filepath):
    with urlopen(filepath) as raw_data:
        datfileL=pd.DataFrame(l.decode("utf-8").rstrip().split('::') for l in raw_data)
    return datfileL

In [6]:
movie_fname = 'https://raw.githubusercontent.com/lazysimon/NYCDSA_CapstoneProject/master/latest/movies.dat'
movie_df = read_the_dat(movie_fname)
movie_df.columns = ['movieID', 'title', 'genres']
movie_df['movieID'] = movie_df['movieID'].astype(int)
movie_df.head()

   movieID  ...             genres
0        8  ...  Documentary|Short
1       10  ...  Documentary|Short
2       12  ...  Documentary|Short
3       25  ...
4       91  ...       Short|Horror

[5 rows x 3 columns]

In [7]:
rating_fname = 'https://raw.githubusercontent.com/lazysimon/NYCDSA_CapstoneProject/master/latest/ratings.dat'
rating_df = read_the_dat(rating_fname)
rating_df.columns = ['userID', 'movieID', 'rating', 'timestamp']
rating_df['userID'] = rating_df['userID'].astype(int)
rating_df['movieID'] = rating_df['movieID'].astype(int)
rating_df['rating'] = rating_df['rating'].astype(int)
rating_df['timestamp'] = rating_df['timestamp'].astype(int)
rating_df.head()

   userID  movieID  rating   timestamp
0       1   111161      10  1373234211
1       1   117060       7  1373415231
2       1   120755       6  1373424360
3       1   317919       6  1373495763
4       1   454876      10  1373621125